<div>
	<b>Carrito de Compras</b>
	<div style="float:right; margin-right:30px;">
		<%= link_to 'Modificar Carrito', buy_view_cart_path, :class => 'blue', :style => 'font-weight:bold' %>
	</div>
	<hr>
	<% @purchasable.shopping_cart_items.each do |shopping_cart_item| %>
		<div style="float:left;">
			<div class="image" style="float:left">
				<%= image_tag(shopping_cart_item.purchasable.main_image) %>
			</div>			
			<div style="float:left; margin-left:10px;">
				<table>
					<tr>
						<th style="min-width:300px">Descripción</th>
						<th style="width:100px">Precio</th>
						<th style="width:100px">Cantidad</th>
					</tr>
					<tr>
						<td><%= raw shopping_cart_item.purchasable.description.gsub(/\n/, '<br/>') if !shopping_cart_item.purchasable.description.nil? %></td>
						<td><%= number_to_currency shopping_cart_item.purchasable.price %></td>
						<td><%= shopping_cart_item.quantity.to_s %></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="clear"></div>
	<% end %>
	
	<% if current_user.check_if_has_credits %>
	<table style="margin-top:20px">
		<tr>
			<td colspan="2">Subtotal: <%= number_to_currency @subtotal %></td>
		</tr>
		<tr>
			<td colspan="2">Tienes <%= number_to_currency current_user.credit_amount %> en créditos</td>
		</tr>
		<tr>
			<td colspan="2" style="font-weight:bold">
				Precio final: <%= number_to_currency(@price) %> + <%= link_to 'Costo de despacho', display_dispatch_costs_path, :id => 'form_inline' %>
			</td>
		</tr>
	</table>
	<% else %>
	<table style="margin-top:20px">
		<tr>
			<td colspan="2" style="font-weight:bold">
				Precio final: <%= number_to_currency(@price) %> + <%= link_to 'Costo de despacho', display_dispatch_costs_path, :id => 'form_inline' %>
			</td>
		</tr>
	</table>
	<% end %>
</div>

<div class="field">
	<%= f.hidden_field :purchasable_id, :value => @purchasable.id %>
</div>
<div class="field">
	<%= f.hidden_field :purchasable_type, :value => @purchasable.class %>
</div>
<div class="field">
	<%= f.hidden_field :user_id, :value => @user.id %>
</div>
<div class="field">
	<%= f.hidden_field :price, :value => @price %>
</div>
<div class="field">
	<%= f.hidden_field :currency, :value => 'CLP' %>
</div>