<div style="line-height:20px">
	FELICITACIONES. Tu transacción ha sido <b>finalizada exitosamente y ya recibimos tu pago.</b><br/>
	El número de tu orden de compra es: <%= params['TBK_ORDEN_COMPRA'] %><br/>
	Tipo de Transacción: VENTA<br/>
</div>
<div>
	<% if !@purchase.nil? %><br/>
		<% if !@oc.nil? %><br/>
		<div style="float:left">
			<%= image_tag @purchasable.main_image %>
		</div>
		<div style="float:left; margin-left:20px; width:450px; line-height:20px">
			<b>Descripción:</b><br />
			<hr>
			<%= raw @purchasable.description.gsub(/\n/, '<br/>') %><br />
			<% if !@purchase.size.blank? %>
				Talla: <%= @purchase.size %><br />
			<% end %>
			<% if !@purchase.quantity.blank? %>
				Cantidad: <%= @purchase.quantity.to_s %><br />
			<% end %>
			<br />
			<b>Detalle de la compra:</b><br />
			<hr>
			<%= 'Usuario Matriclick: ' + @purchase.user.email %><br/>
			<%= 'Tarjeta: xxxxxxxxx' + @oc.tbk_final_numero_tarjeta unless @oc.tbk_final_numero_tarjeta.nil? %><br/>
			<%= 'Tipo de Pago: ' + @tipo_pago %><br/>
			<%= 'Tipo de Cuotas: ' + @tipo_cuotas %><br/>
			<%= 'Número de Cuotas: ' + @numero_cuotas %><br/>
			<%= 'Monto Pagado: ' + number_to_currency(@oc.tbk_monto.to_f, :delimiter => '.').to_s  + ' pesos' %><br/>
			<%= 'Fecha de Pago: ' + @oc.tbk_orden_compra[0..3] + '/' + @oc.tbk_orden_compra[4..5] + '/' + @oc.tbk_orden_compra[6..7] %><br/>
			<%= 'Código de Autorización: ' + @oc.tbk_codigo_autorizacion %><br/><br/>
			¿Consultas o Dudas?, llámanos al 2247 8174<br/><br/>
			<%= link_to_function("Imprimir esta página", "javascript:print()", :style => 'color:blue') %>
			<br /><br />
			<% if @purchasable.class.to_s == 'GiftCardCode' %>
				<%= link_to 'Ver Detalle del Cupón de Descuento e Imprimir', @purchasable.link_to_view(params[:country_url_path], @purchase.id), :style => 'color:blue' %>
			<br /><br />
			<% end %>
			<% if @purchasable.class.to_s == 'Dress' %>
				Tu producto será despachado según los plazos estipulados en el <%= link_to 'detalle', @purchasable.link_to_view(params[:country_url_path], @purchase.id), :style => 'color:blue' %>
			<br /><br />
			<% end %>
			<%= render "layouts/purchasable_options" %>
		</div>
		<% else %><br/>
			No se pudo rescatar la información de compra
		<% end %>
	<% else %>
		No se pudo rescatar la información de compra
	<% end %>
</div>
<div class="clear"></div>
