<script>
	stocks_for_js = <%= @stocks_for_js %>
</script>

<%= form_tag buy_refresh_cart_path, :method => "put" do %>
	<% if @shopping_cart.errors.any? %>
	  <div id="error_explanation">
		  <h2><%= @shopping_cart.errors.count > 1 ? t("activerecord.errors.template.header.other") : t("activerecord.errors.template.header.one") %>:</h2>
		  <ul>
			  <% @shopping_cart.errors.full_messages.each do |msg| %>
			  	<li><%= msg %></li>
			  <% end %>
		  </ul>
	  </div>
	<% end %>
	<div class="clear"></div>
	<% if action_name == 'refresh_cart' %>
		<div id="error_explanation">
			<h2>Lo sentimos, pero tienes los siguientes errores:</h2>
			<% @shopping_cart_items.each do |shopping_cart_item| %>
				<% if shopping_cart_item.errors.any? %>
					  <ul>
						  <% shopping_cart_item.errors.full_messages.each do |msg| %>
						  	<li><%= msg %></li>
						  <% end %>
					  </ul>
				<% end %>
			<% end %>
		</div>
		<div class="clear"></div>
	<% end %>
	<div style="color:#4b494a; margin-bottom:20px; font-size:20px">Carrito de compras</div>
	<table style="margin-bottom:20px">
		<tr>
			<td style="font-weight:bold">Precio Carrito (Subtotal): <%= number_to_currency(@shopping_cart.price) %>
			</td>
		</tr>
	</table>
	<% if @shopping_cart.shopping_cart_items.size > 0 %>
		<% @shopping_cart.shopping_cart_items.each do |shopping_cart_item| %>
			<%= fields_for "shopping_cart_items[]", shopping_cart_item do |f| %>
		
				<div style="float:left;">
					<div class="image" style="float:left">
						<%= image_tag(shopping_cart_item.purchasable.main_image) %>
					</div>			
					<div style="float:left; margin-left:10px;">
						<table>
							<tr>
								<th style="min-width:200px">Descripción</th>
								<th style="width:80px">Precio Unitario</th>
								<th style="width:80px">Talla</th>
								<th style="width:80px">Cantidad</th>
							</tr>
							<tr>
								<td><%= raw shopping_cart_item.purchasable.description.gsub(/\n/, '<br/>') if !shopping_cart_item.purchasable.description.nil? %></td>
								<td><%= number_to_currency shopping_cart_item.purchasable.price %></td>
								<td>
									<% shopping_cart_item.purchasable.dress_stock_sizes.each do |dress_stock_size| %>
										<% if !dress_stock_size.stock.blank? %>
											<% if dress_stock_size.stock > 0 %>
												<% if shopping_cart_item.size.blank? %>
													<%= f.radio_button(:size, dress_stock_size.size.name, :checked => dress_stock_size.first_with_stock?, :class => "buy_radio_button_cart") %> <%= dress_stock_size.size.name %>
												<% else %>
													<%= f.radio_button(:size, dress_stock_size.size.name, :checked => dress_stock_size.size.name == shopping_cart_item.size, :class => "buy_radio_button_cart") %> <%= dress_stock_size.size.name %>
												<% end %>
												<br />
											<% end %>
										<% end %>
									<% end %>
								</td>
								<td>
									<% if @first_max[shopping_cart_item.id.to_s].blank? %>
										<%= f.select(:quantity, 1..5) %>
									<% else %>
										<%= f.select(:quantity, 1..@first_max[shopping_cart_item.id.to_s]) %>
									<% end %>
								</td>
								<td style="border:none">
									<%= link_to image_tag('shopping_cart/remove-from-cart-small.jpeg', :class => 'image_button', alt: 'Eliminar'), 
										buy_remove_from_cart_path(:shopping_cart_item_id => shopping_cart_item.id), method: :post %>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="clear"></div>
			<% end %>
			<hr />
		<% end %>
		<br />
		<div style="text-align:right; margin-right:110px;">
			<%= submit_tag "COMPRAR ITEMS >>", :go_to_buy_details => true, :class => "button_buy_dress" %> <%= image_tag "loading.gif", :class => :select_loading, :style => "display:none;" %>
		</div>
	<% else %>
		  <%= render "layouts/nothing_to_show", :message => 'No has agregado Items al Carrito de Compras' %>
	<% end %>
	<div class="clear"></div>
	<div style="margin-top:14px; color:#7e7e7e;">
		Sigue buscando productos para agregar al carrito seleccionando la categoría que te interesa en el menú de arriba :)
	</div>


<% end %>


