<b><%= t 'images' %></b>
<div class="help_tip"><%= t('image_size_limit') %></div>
<div class="field">
	<%= f.fields_for :service_images do |service_images_form| %>
		<% if params[:controller] == "administration" %>
			<div class="old_image">
				<%= image_tag service_images_form.object.image.url(:tiny) %>
			</div>			
		<% end %>
		<%= service_images_form.file_field :image %>
		<%= service_images_form.link_to_remove t('remove_this_image'), :class => 'small_button' %>
	<% end %>
	<br/>
	<%= f.link_to_add t('add_image'), :service_images, :class => 'small_button' %>
</div>
