<h1>Listing lead_contacts</h1>

<table>
  <tr>
    <th>Lead</th>
    <th>Position</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lead_contacts.each do |lead_contact| %>
  <tr>
    <td><%= lead_contact.lead_id %></td>
    <td><%= lead_contact.position %></td>
    <td><%= lead_contact.name %></td>
    <td><%= lead_contact.phone %></td>
    <td><%= lead_contact.email %></td>
    <td><%= link_to 'Show', lead_contact %></td>
    <td><%= link_to 'Edit', edit_lead_contact_path(lead_contact) %></td>
    <td><%= link_to 'Destroy', lead_contact, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lead contact', new_lead_contact_path %>
