<%= image_tag 'wedding_planner/wedding_planner_banner.png', alt: 'Wedding Planner' %>
<div style="margin-left:10px; font-size:14px; text-align:center">
<b>¡Porque queremos novias relajadas!</b>
<br /><br />
¡Matriclick – Novios y Yo se UNEN para ayudarte a ahorrar y hacer el matrimonio que sueñas sin estresarte más de la cuenta.
<br /><br />
100% ASESORÍA, apoyo permanente, más TIEMPO para DISFRUTAR, y sin gastar un peso de más.
</div>
<div class="left_content shadow" style="width:800px; float:left; margin-left:10px;">
	<div class="">
		<div style="float:left; min-height:200px; margin:10px;">
			<div style="margin:0px 0px 5px 5px; font-weight:bold; text-transform:uppercase">Nosotros: Matriclick - Novios y Yo</div>
			<div style="float:left"><%= image_tag 'wedding_planner/quienes_somos.jpeg', alt: 'Quienes Somos', style: 'width:360px' %></div>
			<div style="font:12px; float:left; width:300px; margin-left:10px">
				<div style="color:grey;">
					<b>La experiencia de  Novios y Yo:</b> ya posicionados hace 4 años en el mundo de matrimonios.<br /><br />
					<b>La amplia oferta</b> de seleccionados proveedores que ofrece Matriclick y las alianzas que tiene.<br /><br />
					Hacen que el servicio de Wedding Planner garantice que las parejas puedan disfrutar al 100% de su matrimonio, sin tener que estar preocupados y estresados durante el proceso de organización.				
					<br /><br />
					Sabemos que el camino no es fácil: muchos detalles, proveedores que ver y coordinar, lugares que visitar, variados menús, infinitas decoraciones... ¿cómo evaluar tantas opciones? 
					<br /><br />
						<b>¡Ahí es donde te queremos ayudar!</b>
				</div>
			</div>
			<div class="clear"></div>
			<div style="font:12px;">
				<div style="color:grey; margin-top:5px;">
				Tu trabajas, tienes poco tiempo para compartir con la familia, amigos y hacer otra actividades.
				<br /><br />
				¡Olvídate de los problemas de tiempo y organización! queremos novios relajados, que disfrutan del proceso y la organización. 
				<br /><br />
				Deja todo en nuestras manos, Matriclick – Novios y Yo, junto contigo, haremos de tu matrimonio, la mejor experiencia de tu vida.
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="left_content shadow" style="width:800px; float:left; margin-left:10px;">
	<div class="">
		<div style="float:left; min-height:200px; margin:10px;">
			<div style="margin:0px 0px 5px 5px; font-weight:bold">BENEFICIOS</div>
			<div style="font:12px; float:left; width:400px; margin-top:10px">
				<div style="color:grey; margin-left:5px;">
					Comodidad, seguridad, ahorro, tiempo, asesoría, solución de conflictos y otras cosas que brinda un profesional con experiencia, garantizando un matrimonio exitoso. 
				<br /><br />
					<b>Novios y Yo - Matriclick</b> te ayudaran con tu agenda Nupcial así no se te pueda olvidar ni un detalle
				<br /><br />
					- Novios y Yo lleva 4 años en el mercado: gran experiencia y conocimiento de los desafíos a los que se enfrentarán los novios.
				<br /><br />
					- En Matriclick los proveedores son cuidadosamente seleccionamos, por su calidad en el servicio y compromiso con los novios.
				<br /><br />
					- Alianzas especiales con proveedores, por lo que el costo de contratación de la Wedding Planner probablemente se pagará gracias al ahorro que tendrás.
				<br /><br />
				<b>100% ASESORÍA, apoyo permanente, más TIEMPO para DISFRUTAR, <br />y sin gastar un peso de más.</b>
				</div>
			</div>
			<div style="float:left; margin-left:30px; margin-top:10px"><%= image_tag 'wedding_planner/beneficios.jpg', alt: 'Beneficios', style: 'width:340px' %></div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="left_content shadow" style="width:800px; float:left; margin-left:10px;">
	<div class="">
		<div style="float:left; min-height:200px; margin:10px;">
			<div style="margin:0px 0px 5px 5px; font-weight:bold">ELIGE LA MEJOR ALTERNATIVA PARA TI</div>
			<div style="float:left"><%= image_tag 'wedding_planner/servicios.jpg', alt: 'Servicios', style: 'width:290px;' %></div>
			<div style="font:12px; float:left; width:450px; margin-left:20px">
					<b>PLAN FULL:</b>
					<br /><br />
				<div style="color:grey;">
					Junto a ustedes nos dedicaremos a la planificación del gran día, donde la optimización del Presupuesto y del Tiempo es fundamental. 
				<br /><br />
					A su vez, estaremos presentes en la organización de este lindo proceso, donde con nuestra experiencia, ideas y por supuesto USTEDES, le iremos dando forma a lo que siempre han soñado. Como siempre decimos los novios no tienen por qué saber de este mundo de matrimonios, pero Matriclick junto a Novios y Yo si!!! Es por eso que no estarán solos y estaremos junto a ustedes en todo momento. 
				<br /><br />
					El trabajo que haremos se verá reflejado en la producción final. Matriclick y Novios y Yo serán los encargados de que ustedes disfruten al 100% de ese maravilloso momento, ya que estaremos coordinando, supervisando y dirigiendo cada detalle, con el fin de que ustedes festejen y disfruten en compañía de los suyos, sin ninguna preocupación más que pasarlo bien.
				<br /><br />
				</div>
					<b>PLAN DESDE EL EXTRANJERO: </b>
					<br /><br />
				<div style="color:grey;">
					Para todas las parejas y futuros novios que no viven en nuestro país, pero desean realizar el matrimonio en Chile, los ayudamos con un servicio especial de organización integral, porque sabemos y entendemos sus necesidades al momento de iniciar los preparativos de su matrimonio y la complejidad de la distancia. 
				<br /><br />
					La tecnología está a nuestro favor y es 100% factible que ustedes puedan organizar el matrimonio, junto con nuestro apoyo, estando lejos.
				<br /><br />
					Nuestra principal misión es dar Confianza, seguridad, tranquilidad y cariños en cada paso que ejecutemos junto a ustedes. Matriclick junto a Novios y yo, los ayudarán a que estén presentes en todas las decisiones, acercándolos al proceso aunque físicamente, estén lejos.
				<br /><br />
				</div>
					<b>PLAN DIA D: </b>
					<br /><br />
				<div style="color:grey;">
					Tienes todo para uno de los días más importantes de tu vida, pero quieres que alguien esté pendiente de los detalles y de ustedes. 
				<br /><br />
					Eso sí, que sea alguien externo a los proveedores contratados. No hay problema, puedes contar con una Wedding Planner, podemos estar presente ese día, coordinando a todos los proveedores y preocupándonos de ustedes para que puedan disfrutar al 100% de su fiesta.
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="left_content shadow" style="width:800px; float:left; margin-left:10px;">
	<div class="">
		<div style="float:left; min-height:200px; margin:10px;">
			<div style="margin:0px 0px 5px 5px; font-weight:bold">CONÓCENOS Y CUÉNTANOS DE TI</div>
			<div style="float:left"><%= image_tag 'wedding_planner/conocenos.jpg', alt: 'Conocenos', style: 'width:360px' %></div>
			<div style="font:12px; float:left; margin-left:20px; width:400px">
				<div style="color:grey; margin-top:10px">
					<%= link_to 'Completa el formulario online', new_wedding_planner_quote_path, :style => 'text-decoration:underline' %> para que conozcamos más de ti y te enviemos una cotización para que juntos armemos el matrimonio que sueñas<br /><br />
					<%= link_to 'Cotizar Wedding Planner', new_wedding_planner_quote_path, :class => 'button' %>
					<br /><br />
					¿Dudas? ¿Preguntas? Contáctanos a <b>weddingplanner@matriclick.com</b><br /><br />
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>