<div id="profileBox">
	<div class="right_link">
		<%= link_to t("edit"), edit_supplier_account_path(@supplier), :class => :button %>
	</div>
	<div class="titulos">
		<%= t 'profile' %>
	</div>
	<div class="help_tip">
		<%= "Te invitamos a completar tu perfil y mantenerlo lo más completo y actualizado posible, recuerda que a mayor información nos entregues más puntos Matriclick recibirás! Puntos que se traducen en premios, posiciones destacadas y muchas otras sorpresas que tenemos para ti." %>
	</div>
	<div class="box">
		<div id="profileImage"><%= image_tag @supplier.supplier_account.image.url(:small) %></div>
		<div class="profileInfo">
			<table>
				<tr>
					<td class="left_column"><%= t 'activerecord.attributes.supplier_account.corporate_name' %></td>
					<td><%= (@supplier.supplier_account.corporate_name.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.corporate_name'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.corporate_name) %></td>
				</tr>
				<tr>
					<td class="left_column"><%= t 'activerecord.attributes.supplier_account.fantasy_name' %></td>
					<td><%= (@supplier.supplier_account.fantasy_name.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.fantasy_name'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.fantasy_name) %></td>
				</tr>
				<tr>
					<td class="left_column"><%= t 'activerecord.attributes.supplier_account.rut' %></td>
					<td><%= (@supplier.supplier_account.rut.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.rut'), :class => 'profileBlankField') : content_tag(:span, number_to_rut(@supplier.supplier_account.rut)) %></td>
				</tr>
				<% if !@supplier.supplier_account.address.nil? %>
					<% if !@supplier.supplier_account.address.street.blank? %>
						<tr>
							<td class="left_column"><%= t 'activerecord.attributes.supplier_account.address' %></td>
							<td><%= content_tag(:span, @supplier.supplier_account.address.street + (@supplier.supplier_account.address.number.blank? ? '' : ' ' + @supplier.supplier_account.address.number)) %></td>
						</tr>
					<% end %>
					<% if !@supplier.supplier_account.address.region.nil? %>
						<% if !@supplier.supplier_account.address.region.name.blank? %>
							<tr>
								<td class="left_column"><%= t 'activerecord.attributes.address.region' %></td>
								<td><%= content_tag(:span, @supplier.supplier_account.address.region.name) %></td>
							</tr>
						<% end %>
					<% end %>
					<% if !@supplier.supplier_account.address.commune.nil? %>
						<% if !@supplier.supplier_account.address.commune.name.blank? %>
							<tr>
								<td class="left_column"><%= t 'activerecord.attributes.address.commune' %></td>
								<td><%= content_tag(:span, @supplier.supplier_account.address.commune.name) %></td>
							</tr>
						<% end %>
					<% end %>
				<% end %>
				<tr>
					<td class="left_column"><%= t 'activerecord.attributes.supplier_account.phone_number' %></td>
					<td><%= (@supplier.supplier_account.phone_number.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.phone_number'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.phone_number) %></td>
				</tr>
				<tr>
					<td class="left_column"><%= t 'activerecord.attributes.supplier_account.web_page' %></td>
					<td><%= (@supplier.supplier_account.web_page.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.web_page'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.web_page) %></td>
				</tr>
				<tr>
					<td class="left_column"><%= t 'activerecord.attributes.supplier_account.facebook' %></td>
					<td><%= (@supplier.supplier_account.facebook.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.facebook'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.facebook) %></td>
				</tr>
				<tr>
					<td class="left_column"><%= t 'activerecord.attributes.supplier_account.twiter' %></td>
					<td><%= (@supplier.supplier_account.twiter.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.twiter'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.twiter) %></td>
				</tr>
				<tr>
					<td class="left_column"><%= t 'activerecord.attributes.supplier_account.bookable' %></td>
					<td><%=  content_tag(:span, @supplier.supplier_account.bookable ? "✔" : "✘") %></td>
				</tr>
				<tr>
					<td class="left_column"><%= t 'activerecord.attributes.supplier_account.industry_categories' %></td>
					<td><% if @supplier.supplier_account.industry_categories.blank? %>
					<%= content_tag(:span, t('activerecord.attributes.supplier_account.industry_categories'), :class => 'profileBlankField') %>
					<% else %>
						<% for ic in @supplier.supplier_account.industry_categories %>
							<%= content_tag(:span, ic.get_name) %><br/>
						<% end %>
					<% end %></td>
				</tr>
			</table>
		</div>
		
		<div class="profileNumbers">
			<div class="dottedLine"><%= t 'you_have' %></div>
			<div class="">
				<span class="largeNumber"><%= @supplier.supplier_account.products.count %></span>
				<%= link_to pluralize_without_number(@supplier.supplier_account.products.count, t('product')), supplier_account_products_path(@supplier) ,:class => "light gray" %>
			</div>
			<div class="">
				<span class="largeNumber"><%= @supplier.supplier_account.services.count %></span>
				<%= link_to pluralize_without_number(@supplier.supplier_account.services.count, t('service'), t('services')), supplier_account_services_path(@supplier) ,:class => "light gray" %>
			</div>	
		</div>
		<div class="clear"></div>
	</div>
	<div class="titulos">
		<%= t('your_account_status') %>
	</div>
	<div class="help_tip">
		<%= "Una vez que completes tu perfil no olvides validarte en tu Vista Previa como “Estoy listo”, con esto estarás a sólo un paso de estar visible para los novios, ya que el Equipo Matriclick debe verificar si cumples con los criterios de ingreso, luego validarte y ¡Listo! Los novios ya te podrán ver y cotizar." %>
	</div>
	<div class="box">
		<div class="profileInfo" style="width:70%;">
			<table>
				<tr>
					<td>
						<%= content_tag :span, t('self_approval')+":" %>
					</td>
					<td>
						<% if @supplier.supplier_account.approved_by_supplier %>
							<%= content_tag :span, "✔ " + t('you_are_ready'), :class => "supplier_account_status_ok" %><br/>
						<% else %>
							<%= content_tag :span, "✘ " + t('you_havent_approved_yourself_yet'), :class => "supplier_account_status_not_ok" %> =>  <%= link_to	t('i_want_to_validate'), supplier_account_path(@supplier, :validate_account => true), :method => :put, :confirm => t("are_you_sure_you_want_to_validate") %><br/>
						<% end %>										
					</td>
				</tr>
				<tr>
					<td>
						<%= content_tag :span, t('matriclick_approval')+":" %>
					</td>
					<td>
						<% if @supplier.supplier_account.approved_by_us %>
							<%= content_tag :span, "✔ " + t("matriclick_approved"), :class => "supplier_account_status_ok" %>
						<% else %>
						  <%= content_tag :span, "✘ " + t('awaiting_matriclick_approval'), :class => "supplier_account_status_not_ok" %>
						<% end %>
					</td>
				</tr>
			</table>
			<%= content_tag :div, t('you_are_online'), :class => "you_online" if @supplier.supplier_account.is_approved? %>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
