<% content_for :content do %>
	<table width="95%" cellpadding="30">
		<tr>
			<td align="left">
				<font face="Lucida Grande, Segoe UI, Arial, Verdana, Lucida Sans Unicode, Tahoma, Sans Serif">
					Hola <%= @user.user_account.get_wedding_first_name || "Usuario" %>,<br/><br/>
					¡Has recibido un mensaje sobre <strong><%= @conversation.conversable.name %></strong>!<br/><br/>
					<p style="color:#aaa;">
						<%= @supplier_account.fantasy_name %> dijo:
					</p>
					<i style="color:#999;">
						<%= if (string = @message.content).length > (length = 140)
							string[0..length-1]+"..."
						else
							string
						end %>
					</i><br/><br/>
					<p style="color:#444;">
						Lo pueden revisar y contestar <%= link_to "aquí", user_conversations_index_url(:country_url_path => @country_url_path), :style => "color:#0071BC;text-decoration:none;" %>.
					</p>
					<br/>
					Saludos cordiales,<br>
					- Equipo Matriclick<br/><br/>
				</font>
			</td>
		</tr>
	</table>
<% end %>

<%= render "layouts/email_template" %>