<%= content_for :box_content do %>
<div class="sign_boxes center">
	<div class="h2 bold text_center"><%= t 'sign_in_provider' %></div>
	<div class="text_center"><%= t 'new_to_matriclick' %>
		<span class="bold"><%= link_to t('sign_up_here'), new_supplier_registration_path %></span>
	</div>
</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<div class="sign_boxes center">
		<table class="invisible">
			<tr>
				<td><%= f.text_field :email, :placeholder => t("email"), :required => true, size: 25, :class => "input_wrapper" %></td>
			</tr>
			<tr>
				<td><%= f.password_field :password, :placeholder => t('password'), :required => true, size: 25, :class => "input_wrapper" %></td>
			</tr>
			<% if devise_mapping.rememberable? -%>
			<tr>
				<td><%= f.check_box :remember_me %> <%= f.label t('remember_me') %></td>
			</tr>
			<% end %>
			<tr>
				<td><%= f.submit t("sign_in"), :class => "button_sign_in bold span_to_center" %></td>
			</tr>
		</table>
	</div>
<% end -%>
<br />
<br />

<% # FGM: Flag to differentiate different login layouts/funcitionalities %>
<% @supplier_login_footer = true %>

<div class="bottom_links">
	<div class="box_nine_six_cero center">
		<%= render :partial => "/users/shared/links" %>	
	</div>
</div>
<% end %>

<%= render "layouts/vimeo_tab" %>

<%= render "layouts/login_layout" %>
