<%= nested_form_for [@supplier,@presentation],:url => supplier_account_presentation_path(@supplier),:validate => true, :html => {:multipart => true} do |f| %>
	<% if @presentation.errors.any? %>
	<div id="error_explanation">
		<h2><%= @presentation.errors.count > 1 ? t("activerecord.errors.template.header.other") : t("activerecord.errors.template.header.one") %>:</h2>

		<ul>
			<% @presentation.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	
<% if params[:action] == "edit" %>
	<table class="invisible">
		<tr>
			<td><% if params[:action] == "new" or "create" %>
				<%= render 'image_fields', :f => f %>
				<% end %>
			</td>
		</tr>	
	</table>
<% end %>

<div class="holder">
	<table class="invisible">
		<tr>
			<td><%= f.label :description %><%= mark_required @presentation, :description %><br />
			<%= f.text_area :description, { :size => '100x15', :id => "description" } %></td>
		</tr>	
	</table>
</div>
<div class="holder">	
	<%= f.submit :class => "button" %> <%= image_tag "loading.gif", :class => :select_loading, :style => "display:none;" %>
</div>	
<% end %>

