<div class="contests_albums_photo albums_photo">
	<%= link_to image_tag(@contest_travelite.contest_travelite_image(:contest_travelite_size), :alt => @contest_travelite.photo_name), 
				contests_image_path(:slug => @contest_travelite.slug) %>
	<% if !@contest_travelite.photo_name.blank? %>
		<div class="albums_text">
			<div class="contests_albums_h1">
				<%= @contest_travelite.photo_name.truncate(30) %><br/>						
			</div>
			<div class="contests_albums_h2">
				<%= @contest_travelite.bride_name.truncate(30) %><br/>
			</div>
		</div>
	<% end %>
	</br>
	<% if current_user.nil? %>
		<%= link_to image_tag("contests/btn_votar.png", :style => "cursor:pointer"), "#sign_in_fancybox", :onclick=> '$(".fancybox_message").click()' %>
	<% else %>			
		<% if !@contest_travelite_vote %>
			<%= link_to((image_tag "contests/btn_votar.png", :style => "cursor:pointer"), 
				contests_vote_path(:slug => @contest_travelite.slug)) %>
		<% else %>
			<% if @contest_travelite_vote.contest_travelite_id == @contest_travelite.id %>
				<div class="ya_votaste">
					<%= image_tag("contests/ya_votaste.png") %> 
				</div>
			<% end %>
		<% end %>
	<% end %>
	<div class="cuenta_votos">
		<%= pluralize(@contest_travelite.vote_count, "Voto") %> <br />
	</div>
</div>