<%= image_tag 'contests/despedida-de-soltera/despedida-de-soltera-final.jpg', 
	:alt => 'despedida de solteras en buenos aires' %>

<%= image_tag 'contests/despedida-de-soltera/sube-tu-mejor-foto-despedida-de-soltera-final.jpg', 
	:alt => 'participa para ganar tu despedida de solteras a buenos aires' %>

<div class="blog_share_show">
	<div class="addthis_toolbox addthis_default_style">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ecbca393feb795f"></script>
</div>

<div class="clear"></div>

<div id="albums_columns">
	<% @contest_travelites.each do |contest_travelite| %>
		<% @contest_travelite = contest_travelite %>
		<%= render 'contestants_final' %>
	<% end %>
	<div id="infinite-scroll"></div>
</div>
<div class="clear"></div>
<div style="margin:20px; text-align:right">
	<%= link_to 'Ver bases', contests_bases_path, :class => 'blue' %>
</div>
<hr>
<div class="fb-comments" data-href="<%= request.url %>/" data-num-posts="4" data-width="500"></div>

<%= render "layouts/sign_in_facebook_google" %>

<div class="clear"></div>