<p id="notice"><%= notice %></p>
<h1><%= @contest_travelite.photo_name %></h1>
<div class="clear"></div>
<div style="float:right">
	<div style="font-weight:bold; margin-bottom:10px"><%= link_to '¿Conoces elBazar de Matriclick?', bazar_path, :class => 'blue' %></div>
	<div><%= link_to image_tag('el_bazar/vestidos-fiesta-y-zapatos.jpg', :alt => 'vestidos de fiesta y zapatos'), bazar_path %></div>
	<div style="font-weight:bold; margin-top:10px"><%= link_to '- Vestidos de Fiesta', dresses_ver_path(:type => "vestidos-fiesta") %></div>
	<div style="font-weight:bold; margin-top:5px"><%= link_to '- Accesorios', dresses_accessories_menu_path %></div>
	<div style="font-weight:bold; margin-top:5px"><%= link_to '- Zapatos', dresses_ver_path(:type => "zapatos") %></div>
	<div style="font-weight:bold; margin-top:5px"><%= link_to '- Y mucho más!', bazar_path %></div>
</div>
<div>
	<%= image_tag(@contest_travelite.contest_travelite_image(:contest_travelite_big), :alt => @contest_travelite.photo_name) %><br />
</div>
<div style="width:500px; float:left">
	<div class="blog_share_show">
		<div class="addthis_toolbox addthis_default_style">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ecbca393feb795f"></script>
	</div>
	<div>¡Ojo! los votos válidos serán lo que realicen a través de la "mano" que aparece abajo, NO los "like" de Facebook o Twitter o G+</div>
	<div style="float:right">
	<%= link_to image_tag("contests/volver.png", :alt => 'volver a despedida de soltera', :class => 'image_button'), despedida_de_soltera_path  %>
	</div>
	<h2>Novia: <%= @contest_travelite.bride_name %></h2> 
	<h3>Esta imagen lleva <b><%= pluralize(@contest_travelite.vote_count, "Voto") %></b><h3>
	<hr>
	<div style="float:right">
		<span style="margin-right:10px">Matriclick.com</span><div class="fb-like" data-href="https://www.facebook.com/matriclick" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	</div>
	<% if current_user.nil? %>
		<%= link_to image_tag("contests/btn_votar.png", :style => "cursor:pointer"), "#sign_in_fancybox", :class => 'fancybox_message' %>
		<%= render "layouts/sign_in_facebook_google" %>
	<% else %>			
		<% if !@contest_travelite_vote %>
			<%= link_to((image_tag "contests/btn_votar.png", :style => "cursor:pointer"), 
				contests_vote_path(:slug => @contest_travelite.slug)) %> ¡Haz click en la mano para sumarle un voto a esta foto!
		<% else %>
			<% if @contest_travelite_vote.contest_travelite_id == @contest_travelite.id %>
				<div class="ya_votaste">
					<%= image_tag("contests/ya_votaste.png") %> 
				</div>
			<% else %>
				<b>Ya votaste por otro concursante</b>
			<% end %>
		<% end %>
	<% end %>
	<hr>
	<div class="fb-comments" data-href="<%= request.url %>/" data-num-posts="4" data-width="500"></div>
</div>