<div id="fondo_travelite">
	<%= image_tag("contests/fondo_4_5_6.jpg") %> 
</div>
<div class="logo_travelite">
	<%= image_tag("contests/logo.png") %> 
</div>
<div class="tipografia_travelite">
	¡TE REGALA UNA ESTADÍA PARA DOS PERSONAS!
</div>
<div id="contenido_contest_travelite">
	<div class="txt_step2">
		¡Vota!
	</div>

	<div class="foto_playero_step2">
		<%= image_tag("contests/foto_playeros_txt.png") %> 
	</div>
	<div class="vs_step1"> 
		V/S
	</div>
	<div class="foto_viajero_step2">
		<%= image_tag("contests/foto_viajeros_txt.png") %> 
	</div>
</div>
<div id="contenido_contest_travelite">
	<div class="btn_step2_playeros">
		<%= link_to image_tag("contests/btn_playeros.png"), contests_select_playeros_path %> 
	</div>
	<div class="btn_step2_viajeros">
		<%= link_to image_tag("contests/btn_viajeros.png"), contests_select_viajeros_path %> 
	</div>
</div>
<div id="frase_travelite">
	<i>*Si quieres conocer otros planes y destinos visítanos en <%= link_to 'www.travelite.cl', 'http://www.travelite.cl', target: '_blank' %></i>
</div>