<h1>Bienvenido al Administrador</h1>

<div style="font-size:13px; margin:20px 0px 0px 40px; line-height:20px; color:#AAA" class="no_underline">
	<% if @matriclicker.privileges.include? Privilege.find_by_name("Salestool") %>
	<div style="border-bottom:solid 1px #AAA; margin-bottom:5px;" />Administración comercial</div>
	- <%= link_to 'Matri-salestool',  leads_path(:q => @matriclicker.name) %><br />
	- <%= link_to 'Ver los últimos 20 agregados', administration_suppliers_list_path %>	<br />
	- <%= link_to 'Ver proveedores Bazar o Bebe', administration_suppliers_list_path(:filter => "Active", :type => 'bazar') %>	<br />
	<br />
	<% end %>
	<% if @matriclicker.privileges.include? Privilege.find_by_name("Vestidos") %>
	<div style="border-bottom:solid 1px #AAA; margin-bottom:5px;" />Administración de vestidos</div>
	- <%= link_to 'Administrar vestidos', administration_dresses_path %><br />
	- <%= link_to 'Devoluciones', refund_requests_path %><br />
	- <%= link_to 'Administrador de tallas', sizes_path %><br />
	- <%= link_to 'Administrador de costos por comuna', administration_edit_dispatch_costs_path %><br />
	- <%= link_to 'Envío de correos personalizados', administration_mailing_tools_path %><br />
	<br />
	<div style="border-bottom:solid 1px #AAA; margin-bottom:5px;" />Reportes de Compras</div>
	- <%= link_to 'Historial de compras en la página',  reports_purchases_path %><br />
	- <%= link_to 'Detalle de compras exitosas',  purchases_path(:status => 'finalizado') %><br />
	- <%= link_to 'Detalle de intentos de compra en la página',  purchases_path(:status => 'all') %><br />
	- <%= link_to 'Detalle de créditos devueltos',  purchases_path(:status => 'devuelto_creditos') %><br />
	<br />
	<% end %>
	<% if @matriclicker.privileges.include? Privilege.find_by_name("Webpage") %>
	<div style="border-bottom:solid 1px #AAA; margin-bottom:5px;" />Administración de la página</div>
	- <%= link_to 'Administrar Blog',  posts_path %><br />
	- <%= link_to 'Administrar imágenes del slider', slider_images_path %><br />
	<br />
	<% end %>
	<% if @matriclicker.privileges.include? Privilege.find_by_name("Reportes") %>
	<div style="border-bottom:solid 1px #AAA; margin-bottom:5px;" />Reportes</div>
	- <%= link_to 'Reporte comercial',  reports_salestool_path %><br />
	- <%= link_to 'Reporte de usuarios',  reports_users_path %><br />
	<br />
	<% end %>
	<% if @matriclicker.privileges.include? Privilege.find_by_name("Matriclickers") %>
	<div style="border-bottom:solid 1px #AAA; margin-bottom:5px;" />Administración de matriclickers</div>
	- <%= link_to 'Administrar Matriclickers',  matriclickers_path %><br />
	<% end %>
</div>
