<table class="budget_list">
	<% for bs in @budget_slots %>
		<% unless bs.budgets.blank? %>
		  <% bs.budgets.each_with_index do |budget, i| %>
		    <tr class="<%= cycle("cl_light_gray", "") %>">
					<% if i == 0 %>
					<td rowspan="<%= bs.budgets.count %>" class="left_column">
						<span class="cell_caption">
							<%= bs.industry_category.get_name %>
						</span>
					</td>
					<% end %>
					<td>
						<span class="row_big_font">
							<% 
								if budget.budgetable.present? 
									supplier_account = budget.budgetable.supplier_account
								elsif budget.supplier_account.present?
									supplier_account = budget.supplier_account
								else
									supplier_account = nil
								end
							%>
							<% if (supplier_account ||= nil) %>
								<%= link_to supplier_account.fantasy_name, supplier_products_and_services_path(supplier_account.supplier, :public_url => supplier_account.public_url) %>
							<% else %>
							  <%= budget.supplier_account_fantasy_name %>
							<% end %>
						</span>
						<div class="cell_caption">
							<% if budget.budgetable.present? %>
								<%= link_to budget.budgetable.name, products_and_services_catalog_description_path(budget.budgetable, :object_class => budget.budgetable.class) %>	
							<% end %>
						</div>
					</td>
					<td>
						<div class="row_big_font">
							<% if budget.final_price.is_a? Hash %>
								<%= number_to_currency(budget.final_price[:base]) + " - " + number_to_currency(budget.final_price[:top]) %>
							<% else %>
								<%= number_to_currency budget.final_price %>
							<% end %>
						</div>
						<div class="cell_caption">
							<% if budget.budget_invitation_type.present? %>
								<%= budget.budget_invitation_type.name %>
							<% end %>
						</div>
					</td>
					<td class="list_actions">
						<div><%= link_to t('edit'), edit_budget_path(budget), :class => 'expense_fancybox' %></div>
						<div><%= link_to t('destroy'), budget, method: :delete, :confirm => t('are_you_sure') %></div>
					</td>
				</tr>	
		  <% end %>
		<% else %>
		  	<tr>
		  		<td class="left_column">
						<span class="cell_caption">
							<%= bs.industry_category.get_name %>
						</span>
					</td>
					<td colspan="3">
						<div class="help_tip">
							No tienes nada todavía! Revisaste <%= link_to "#{bs.industry_category.get_name} (#{bs.industry_category.products_and_services_count})", products_and_services_catalog_index_path(:industry_category_ids => bs.industry_category.id, :watch => 'products_and_services'), target: :blank %>?
							<span class="right"><%= link_to "Agregar manualmente #{bs.industry_category.get_name} no listado", new_budget_path(:type => params[:action], :custom_industry_category_id => bs.industry_category.id), :class => 'expense_fancybox', "data-type" => "budget" %></span>
						</div>
					</td>
		  	</tr>
		<% end %>
	<% end %>
</table>