<div class="budget_total">
	<table class="invisible" style="width:100%;">
		<tr class="cl_light_gray">
			<td><strong>Total</strong></td><td><%= "#{number_to_currency @total_price}"%><%= " a #{number_to_currency @total_top_price_range}" unless @total_price == @total_top_price_range || @total_top_price_range == 0 %></td>
		</tr>
		<% unless @budget_invitee_counts.blank? %>
		  <% for bic in @budget_invitee_counts %>
		    <tr class="<%= cycle "", "cl_light_gray" %>">
		    	<td><%= "Por persona " + bic.kind_of_invitation %></td>
					<td><%= number_to_currency current_user.user_account.budget_total_price_by_invitation_and_budget_type_names(bic, @type) %></td>
		    </tr>
		  <% end %>
		<% end %>
	</table>	
</div>
<div class="budget_total">
	<table class="invisible" style="width:100%;">
		<tr class="cl_light_gray">
			<td colspan="2"><strong>Cuánto paga cada uno</strong></td>
		</tr>
		<tr>
			<td>Novio</td><td><%= number_to_currency current_user.user_account.get_budget_part(:groom, "$$") %></td>			
		</tr>
		<tr class="cl_light_gray">
			<td>Novia</td><td><%= number_to_currency current_user.user_account.get_budget_part(:bride, "$$") %></td>
		</tr>
		<tr>
			<td>Padres novio</td><td><%= number_to_currency current_user.user_account.get_budget_part(:g_parents, "$$") %></td>			
		</tr>
		<tr class="cl_light_gray">
			<td>Padres novia</td><td><%= number_to_currency current_user.user_account.get_budget_part(:b_parents, "$$") %></td>			
		</tr>
	</table>
</div>
