<div class="left_content shadow" style="width:320px; float:left; margin-left:30px;">
	<div class="">
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('wedding_tools/checklist.jpg'), matrichecklist_index_path %>
			<div style="font:12px; width:290px">
				<b><%= link_to '¡Tu checklist de actividades!', matrichecklist_index_path %></b><br>
				<div style="color:grey; margin-top:5px;">
				<%= link_to 'Hemos ordenado todas las actividades', matrichecklist_index_path %> que tienes que hacer para que todo funcione perfecto
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="left_content shadow" style="width:320px; float:left; margin-left:30px;">	
	<div>
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('wedding_tools/invitees.jpg'), invitees_path %>
			<div style="font:12px; width:290px">
				<b><%= link_to '¡Organiza a tus invitados!', invitees_path %> </b><br>
				<div style="color:grey; margin-top:5px;">
				<%= link_to 'Arma tu lista de invitados', invitees_path %>, contáctalos y revisa quiénes te han confirmado
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="left_content shadow" style="width:320px; float:left; margin-left:30px;">		
	<div>
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('wedding_tools/budget.jpg'), budget_instructions_path %>
			<div style="font:12px; width:290px">
				<b><%= link_to '¡Arma tu presupuesto!', budget_instructions_path %></b><br>
				<div style="color:grey; margin-top:5px;">
				<%= link_to 'Planifica lo que quieres invertir', budget_instructions_path %> para que no te pillen por sopresa
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="left_content shadow" style="width:320px; float:left; margin-left:30px;">		
	<div>
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('wedding_tools/finance.jpg'), expenses_path %>
			<div style="font:12px; width:290px">
				<b><%= link_to 'Controla tus gastos', expenses_path %></b><br>
				<div style="color:grey; margin-top:5px;">
				<%= link_to 'Ten el control de tus gastos', expenses_path %>, registrando cuánto haz gastado y quién a pagado qué
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>