<%= form_for [@event],:url => supplier_account_events_path(@supplier,@event), :html => {:id => "events_form"}, :validate => true do |f| %>
	<% if @event.errors.any? %>
	<div id="error_explanation">
		<h2><%= @event.errors.count > 1 ? t("activerecord.errors.template.header.other") : t("activerecord.errors.template.header.one") %>:</h2>
		<ul>
			<% @event.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<table class="invisible">
		<tr>
			<td><%= f.label :title %><br />
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<td><%= f.label :email %><br />
			<td><%= f.text_field :email %></td>
		</tr>
		<tr>
			<td><%= f.label :date %><br />
			<td><%= f.text_field :date, :class => :datepicker %></td>
		</tr>
	</table>
		<div class="holder">
			<table class="invisible">
				<tr>
					<td><div class="field">
						<% if @services.blank? %>
						<div class="help_tip">
							<%= t('helptip.event.no_services') %>				
						</div>
						<% else %>
						<div class="help_tip">
							<%= t('helptip.event.service') %>
						</div>	
						<% end %>
						<%= f.collection_select(:service_id, @services, :id, :name, {:prompt => t('select_service')}, {:disabled => (@services.blank? ? true : false)} ) %> 
					</div></td>
				</tr>
			</table>
		</div>
		<div class="holder">	
			<table class="invisible">
				<tr>
					<td><%= f.label :description %><br />
						<%= f.text_area :description %></td>
				</tr>
			</table>
		</div>	
<div class="holder">			
	<%= f.submit :class => "button" %>
</div>
<% end %>
