facebook
<br />
<br />
<div id="fb-root"></div>
<script>
	window.fbAsyncInit = function() {
		// init the FB JS SDK
		FB.init({
			appId      : '199668766763277', // App ID from the App Dashboard
			channelUrl : '//www.matriclick.com/channel.html', // Channel File for x-domain communication
			status     : true, // check the login status upon init?
			cookie     : true, // set sessions cookies to allow your server to access the session?
			xfbml      : true  // parse XFBML tags on this page?
		});
		// Additional initialization code such as adding Event Listeners goes here
		
		FB.login(function(response) {
			console.debug("FB.getLoginStatus_function_response");
			if (response.authResponse) {
				console.debug('Welcome!  Fetching your information.... ');
				FB.api('/me', function(response) {
					console.debug('Good to see you, ' + response.name + '.');
					console.debug(response);
				});
			} else {
				console.debug('User cancelled login or did not fully authorize.');
			}
		}, {scope: 'email'});
	 
		FB.getLoginStatus(function(response) {					
			console.debug("FB.getLoginStatus_function_response");
			console.debug(response);
		});
	};
	// Load the SDK's source Asynchronously
	// Note that the debug version is being actively developed and might 
	// contain some type checks that are overly strict. 
	// Please report such bugs using the bugs tool.
	(function(d, debug){
		var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement('script'); js.id = id; js.async = true;
		js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
		ref.parentNode.insertBefore(js, ref);
	}(document, /*debug*/ false));
</script>

<br />
<%= link_to 'alvitest_facebook_path', alvitest_facebook_path %><br />
<%= link_to 'alvitest_facebook_path(:country_url_path)', alvitest_facebook_path(:country_url_path => 'chile') %><br />
<%= link_to 'alvitest_facebook_url', alvitest_facebook_url %><br />
<%= link_to 'alvitest_facebook_url(:country_url_path)', alvitest_facebook_url(:country_url_path => 'chile') %><br />
<br />
<br />
<%= link_to 'alvitest_facebook_cuec_path', alvitest_facebook_cuec_path %><br />
<%= link_to 'alvitest_facebook_cuec_path(:country_url_path)', alvitest_facebook_cuec_path(:country_url_path => 'chile') %><br />
<%= link_to 'alvitest_facebook_cuec_url', alvitest_facebook_cuec_url %><br />
<%= link_to 'alvitest_facebook_cuec_url(:country_url_path)', alvitest_facebook_cuec_url(:country_url_path => 'chile') %><br />
<br />
<br />
<%= link_to 'alvitest_google_path', alvitest_google_path %><br />
<%= link_to 'alvitest_google_path(:country_url_path)', alvitest_google_path(:country_url_path => 'chile') %><br />
<%= link_to 'alvitest_google_url', alvitest_google_url %><br />
<%= link_to 'alvitest_google_url(:country_url_path)', alvitest_google_url(:country_url_path => 'chile') %><br />
<br />
<br />
<%= link_to 'alvitest_google_cuec_path', alvitest_google_cuec_path %><br />
<%= link_to 'alvitest_google_cuec_path(:country_url_path)', alvitest_google_cuec_path(:country_url_path => 'chile') %><br />
<%= link_to 'alvitest_google_cuec_url', alvitest_google_cuec_url %><br />
<%= link_to 'alvitest_google_cuec_url(:country_url_path)', alvitest_google_cuec_url(:country_url_path => 'chile') %><br />


