<%- if devise_mapping.omniauthable? %>
	<%- devise_mapping.to.omniauth_providers.each do |provider| %>
		<div class="bottom_link_box">
		    <%= link_to t('devise.views.shared._links.omniauth_authorize') + " #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %>
		</div>
	<% end -%>
<% end -%>
<br />
<br />
<br />
<%= link_to 'alvitest_facebook_path', alvitest_facebook_path %><br />
<%= link_to 'alvitest_facebook_path(:country_url_path)', alvitest_facebook_path(:country_url_path => 'chile') %><br />
<%= link_to 'alvitest_facebook_url', alvitest_facebook_url %><br />
<%= link_to 'alvitest_facebook_url(:country_url_path)', alvitest_facebook_url(:country_url_path => 'chile') %><br />
<br />
<br />
<%= link_to 'alvitest_facebook_cuec_path', alvitest_facebook_cuec_path %><br />
<%= link_to 'alvitest_facebook_cuec_path(:country_url_path)', alvitest_facebook_cuec_path(:country_url_path => 'chile') %><br />
<%= link_to 'alvitest_facebook_cuec_url', alvitest_facebook_cuec_url %><br />
<%= link_to 'alvitest_facebook_cuec_url(:country_url_path)', alvitest_facebook_cuec_url(:country_url_path => 'chile') %><br />
<br />
<br />
<%= link_to 'alvitest_google_path', alvitest_google_path %><br />
<%= link_to 'alvitest_google_path(:country_url_path)', alvitest_google_path(:country_url_path => 'chile') %><br />
<%= link_to 'alvitest_google_url', alvitest_google_url %><br />
<%= link_to 'alvitest_google_url(:country_url_path)', alvitest_google_url(:country_url_path => 'chile') %><br />
<br />
<br />
<%= link_to 'alvitest_google_cuec_path', alvitest_google_cuec_path %><br />
<%= link_to 'alvitest_google_cuec_path(:country_url_path)', alvitest_google_cuec_path(:country_url_path => 'chile') %><br />
<%= link_to 'alvitest_google_cuec_url', alvitest_google_cuec_url %><br />
<%= link_to 'alvitest_google_cuec_url(:country_url_path)', alvitest_google_cuec_url(:country_url_path => 'chile') %><br />



