<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="invisible">
	<tr>
		<td><%= f.label :name, "Nombre" %><br />
	    <%= f.text_field :name %></td>
	</tr>
	<tr>
		<td><%= f.label :company, "Empresa (solo si aplica)" %><br />
	    <%= f.text_field :company %></td>
	</tr>
	<tr>
		<td><%= f.label :email, "Email" %><br />
	    <%= f.text_field :email %></td>
	</tr>
	<tr>
		<td><%= f.label :comment, "Comentario" %><br />
	    <%= f.text_area :comment %></td>
	</tr>
</table>
<div class="holder">
	<%= f.submit t('send'), :class => :button %>	
</div>

<% end %>

