<% content_for :content do %>
	<table width="95%" cellpadding="30">
		<tr>
			<td align="left">
				<font face="Lucida Grande, Segoe UI, Arial, Verdana, Lucida Sans Unicode, Tahoma, Sans Serif">
					Estimada Carolina,<br/><br/>
					Se ingresó un <strong>rango de precios</strong> muy amplio en un servicio.<br/><br/>
					<p>$<%= @service.price %> - $<%= @service.top_price_range %> </p>
					<p>El nombre del producto es: <%= @service.name %> </p>
					<p>Proveedor : <%= @service.supplier_account.supplier.fantasy_name %></p>
					<p>mail proveedor: <%= @service.supplier_account.supplier.email %></p>
				</font>
			</td>
		</tr>
	</table>
<% end %>

<%= render "layouts/email_template" %>