<div class="right_link">
	<%= link_to 'Volver al menú de Administración', administration_index_path(), :class => :button  %>
</div>

<h1>Proveedores que no tienen cuentas en Matriclick</h1>
<div class="clear"></div>
<div>
	Estos proveedores aparecerán en la pestaña "Todos los proveedores"<br /><br />
	<b>OJO:</b> Si un proveedor pasa a tener un perfil, hay que eliminarlo de esta lista
</div>
<br/><br/>
<table>
  <tr>
    <th></th>
    <th>Industry category</th>
	<th>Corp Name:</th>
	<th>WEB:</th>
	<th>Fantasy Name:</th>
	<th>Phone:</th>
	<th>Address:</th>
    <th></th>
  </tr>

<% @supplier_without_accounts.each do |supplier_without_account| %>
  <tr>
	<td><%= image_tag(supplier_without_account.image.url(:tiny)) %></td>
    <td><%= supplier_without_account.industry_category.get_name %></td>
    <td><%= supplier_without_account.corporate_name %></td>
    <td><%= supplier_without_account.web_page %></td>
    <td><%= supplier_without_account.fantasy_name %></td>
    <td><%= supplier_without_account.phone_number %></td>
    <td><%= supplier_without_account.address %></td>
    <td>
		<%= link_to 'Show', supplier_without_account %><br />
    	<%= link_to 'Edit', edit_supplier_without_account_path(supplier_without_account) %><br />
    	<%= link_to 'Destroy', supplier_without_account, confirm: 'Are you sure?', method: :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supplier without account', new_supplier_without_account_path %>
