<%= content_for :box_content do %>
<div class="sign_boxes center">
	<div class="h2 bold text_center"><%= t 'forgot_your_password' %></div>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

<div class="sign_boxes center">
	<table class="invisible">
		<tr>
			<td><%= f.email_field :email, :placeholder => t('email'), :class => "input_wrapper" %></td>
		</tr>
		<tr>	
	  		<td><%= f.submit t('send'), :class => "button_sign_in bold span_to_center" %></td>
		</tr>	
	</table>
</div>		
<% end %>
<br />
<br />
<div class="bottom_links">
	<div class="box_nine_six_cero center">
		<%= render :partial => "/users/shared/links" %>	
	</div>
</div>	
<% end %>

<%= render "layouts/login_layout" %>