<div class="blog_show">
	<h1><%= @post.title %></h1>
	<div style="float:left; width:40px"><%= image_tag 'blog/quotes.png', :alt => @post.title %></div>	
	<h2 class="blog_texto_introduction"><%= @post.introduction.html_safe %></h2>
	<div class="clear"></div>
	<div class="blog_share_show">
		<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_pinterest_pinit"></a> 
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ecbca393feb795f"></script>
	</div>
	<div>
		<%= image_tag @post.main_image.url(:original), :alt => strip_tags(@post.introduction.html_safe) %>
	</div>
	<div class="blog_fecha_show">
		<%= l(@post.date) %> <%= if !@post.industry_category.nil? then '-  ' + @post.industry_category.get_name end %>
	</div>
	<div class="blog_texto_content">
		<% @post.post_contents.each do |post_content| %>
			<div>
				<%= raw post_content.content.gsub(/\n/, '<br/>') %>
			</div>
			<% post_count = post_content.post_images.count %>
			<% post_content.post_images.each do |post_image| %>
				<% if post_count == 1 %>
					<div style="text-align:center; margin:10px">
						<%= link_to image_tag(post_image.photo.url(:original), :alt => post_image.name, :style => 'max-width:550px'), post_image.photo.url(:original), :class => [:fancybox, :image_button], :rel => :gallery %>
					</div>		
				<% else %>
					<div style="float:left; margin:10px">
						<%= link_to image_tag(post_image.photo.url(:small), :alt => post_image.name), post_image.photo.url(:original), :class => [:fancybox, :image_button], :rel => :gallery %>
					</div>	
				<% end %>
			<% end %>
		 	<div class="clear"></div>
		<% end %>
	</div>
	<div class="clear sin_titulos"></div>
  	<div class="fb-comments" data-href="<%= request.url %>/" data-num-posts="4" data-width="950"></div>
	<div style="margin:20px 0px 20px 0px; border-top:1px dotted #ccc">
		<h3>Revisa estos productos que te podrían interesar:</h3>
		<%= render 'dresses/related_dresses', related_dresses: @related_dresses %>
	</div>
	<div style="margin:20px 0px 20px 0px; border-top:1px dotted #ccc">
		<h3>Sigue leyendo artículos relacionados:</h3>
		<% @related_posts.each do |post| %>
			<%= render 'small_post', :post => post %>
		<% end %>
	</div>
</div>