<div class="left_content shadow" style="width:320px; float:left; margin-left:30px;">
	<div>
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/accessories/aros03.jpg', :alt => 'Aros'), dresses_ver_path(:type => "accesorios-aros") %>
			<div style="font:12px; width:290px">
				<b><%= link_to 'Aros', dresses_ver_path(:type => "accesorios-aros") %></b><br>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="left_content shadow" style="width:320px; float:left; margin-left:30px;">
	<div>
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/accessories/anillos02.jpg', :alt => 'Anillos'), dresses_ver_path(:type => "accesorios-anillos") %>
			<div style="font:12px; width:290px">
				<b><%= link_to 'Anillos', dresses_ver_path(:type => "accesorios-anillos") %></b><br>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="left_content shadow" style="width:320px; float:left; margin-left:30px;">
	<div>
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/accessories/collares02.jpg', :alt => 'Collares'), dresses_ver_path(:type => "accesorios-collares") %>
			<div style="font:12px; width:290px">
				<b><%= link_to 'Collares', dresses_ver_path(:type => "accesorios-collares") %></b><br>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="left_content shadow" style="width:320px; float:left; margin-left:30px;">
	<div>
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/accessories/pulseras02.jpg', :alt => 'Pulseras'), dresses_ver_path(:type => "accesorios-pulseras") %>
			<div style="font:12px; width:290px">
				<b><%= link_to 'Pulseras', dresses_ver_path(:type => "accesorios-pulseras") %></b><br>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="left_content shadow" style="width:320px; float:left; margin-left:30px;">
	<div>
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/accessories/carteras02.jpg', :alt => 'Carteras'), dresses_ver_path(:type => "accesorios-carteras") %>
			<div style="font:12px; width:290px">
				<b><%= link_to 'Carteras', dresses_ver_path(:type => "accesorios-carteras") %></b><br>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="left_content shadow" style="width:320px; float:left; margin-left:30px;">
	<div>
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/accessories/sombreros01.jpg', :alt => 'Sombreros'), dresses_ver_path(:type => "accesorios-sombreros") %>
			<div style="font:12px; width:290px">
				<b><%= link_to 'Sombreros', dresses_ver_path(:type => "accesorios-sombreros") %></b><br>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
