ids = '<%=@dresses_array_ids%>'

<%if @last_set%>
	$('.loading').unbind('ajaxStart');
<% end %>

<% unless @dresses.blank? %>
	<%@dresses.each do |dress|%>
		var $box_<%=dress.id%> = $(
'			<div class="dresses_album_box dresses_index_box left dresses_index_box_regular first_set_dress">'+
'			<% if @enable_edit %>'+
'				<div style="background:black; padding:2px; text-align:center;">'+
'					<%= link_to "Editar", edit_supplier_account_dress_path(@supplier, dress), :class => "edit_dress_link" %>'+
'				</div>'+
'			<% end %>'+
'			<% unless dress.dress_images.blank? %>'+
'				<% if dress.dress_status.name == "Vendido" %>'+
'					<div style="position:absolute;right:5px;">'+
'						<%= image_tag "dresses_icons/sold.png" %>'+
'					</div>'+
'				<% end %>'+
'				<%= link_to image_tag(dress.dress_images.first.dress.url(:index_dress), :alt => dress.dress_images.first.name), dress_ver_path(:type => dress.dress_type.name, :slug => dress.slug) %>'+
'			<% end %>'+
'			<div style="text-align:left; width:170px; padding-left:15px;">'+
'				<span id="dress_intro"> <%= link_to((j(dress.introduction[0..30]) unless dress.introduction.nil?), dress_ver_path(:type => dress.dress_type.name, :slug => dress.slug)) %></span><br />'+
'				<span id="dress_price"> <%= "#{number_to_currency dress.price}" %></span>'+
'				<br />'+
'			</div>'+
'		</div>')
        $box_<%=dress.id%>.css({ opacity: 0 });
        $box_<%=dress.id%>.imagesLoaded(function(){
        $box_<%=dress.id%>.animate({ opacity: 1 });
        $('#albums_columns').append( $box_<%=dress.id%> ).masonry( 'appended', $box_<%=dress.id%>, true );
        delete $box_<%=dress.id%>
        });

	<% end %>


	flag_up = false
<% else %>
	$('#infinite-scroll').detach();
	$('.loading').hide();
<% end %>