<div class="clear"></div>
<div class="left_content shadow" style="width:320px; float:left; margin-left:50px;">
	<div>
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/dresses_matriclick02.jpg'), dresses_ver_path(:type => "vestidos-fiesta") %>
			<div style="font:12px; width:290px">
				<b><%= link_to '¡Tienda online de Matriclick!', dresses_ver_path(:type => "vestidos-fiesta") %></b><br>
				<div style="color:grey; margin-top:5px;">
				<%= link_to 'Compra online vestidos importados desde Inglaterra y Estados Unidos que serán llevados directamente a tu casa. <br /><br />¡Despacho gratuito en menos de una semana!'.html_safe, dresses_ver_path(:type => "vestidos-fiesta") %>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="left_content shadow" style="width:320px; float:left; margin-left:50px;">	
	<div class="">
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/dresses_boutique02.jpg'), dresses_party_dress_boutique_path %>
			<div style="font:12px; width:290px">
				<b><%= link_to '¡Tiendas Boutique!', dresses_party_dress_boutique_path %></b><br>
				<div style="color:grey; margin-top:5px;">
				<%= link_to 'Conoce las mejores Tiendas Boutique de Chile y sus exclusivos vestidos de diseñadoras independientes. 
							<br /><br />Compra Gift Cards de los vestidos que te gusten, ahorra y renueva tu closet.'.html_safe, dresses_party_dress_boutique_path %>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
