<%= render "navigation", :dress => @dress, :type => @type %>
<div id="notice"><%= notice %></div>

<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ecbca393feb795f"></script>
<div class="dress_box left">
	<%= render 'info_dress_images', :dress => @dress, enable_edit: @enable_edit, supplier: @supplier %>
	<div class="addthis_toolbox addthis_default_style" style="margin-top:15px">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a>
		<a class="addthis_button_pinterest_pinit"></a> 
	</div>
</div>
<div class="dress_info left">
	<%= render 'info_dress_title', :dress => @dress, :type => @type %>
	<hr>
	<div class="info_content" id="description">
		<%= render 'info_description', dress: @dress %>		
	</div>
	<div class="info_content" id="returns" style="display:none">
		<%= render 'info_refund', dress: @dress %>
	</div>
	<hr>
	<% if @dress.dress_status.name == 'Disponible' %>
		<div class="purchase_section" style="margin-top:30px;">
			<%= render 'purchase_section', dress: @dress %>
			<%= render 'info_delivery', dress: @dress %>
		</div>
	<% end %>
</div>
<div class="clear"></div>
<% unless @related_dresses.blank? %>
	<div style="margin-top:20px; border-top:1px dotted #ccc">
		<h3>Otros productos relacionados:</h3>
		<%= render 'related_dresses', related_dresses: @related_dresses %>
	</div>
<% end %>
<% unless @viewed_dresses.blank? %>
	<div style="margin-top:20px; border-top:1px dotted #ccc">
		<h3>Productos que has visto recientemente:</h3>
		<%= render 'related_dresses', related_dresses: @viewed_dresses %>
	</div>
<% end %>