<div class="image_for_edit">
	<div class="image_box"><%= image_tag product_image.image.url(:smaller) %></div>
	<div class="name_and_actions">
		<div class="name"><%= product_image.image_file_name %></div>
		<div class="actions_images">
			<%= link_to (product_image.active ? t('active') : t('activate')), toggle_active_supplier_account_product_product_image_path(@supplier, @product, product_image), { method: :put, :class => ("active" if product_image.active), :remote => true } %> |
			<%= link_to t('edit'), new_supplier_account_product_product_image_path(@supplier, @product) %> |
			<%= link_to t('remove'), supplier_account_product_product_image_path(@supplier, @product, product_image), :confirm => "Are you sure?", method: :delete %>
		</div>
		<% if product_image.active && @product.product_images.active.count > 1 %>
		<div class="actions_images_order">
			<%= t('order') %>
			<% (@product.product_images.active.count).times do |i| %>
			<%= link_to "#{i+1}", set_image_index_supplier_account_product_product_image_path(@supplier, @product, product_image, :image_index => "#{i+1}"), { method: :put, :class => (product_image.image_index == i+1 ? "bold" : "gray"), :remote => true } %>
			<% end %>
		</div>	
		<% end %>		
	</div>
</div>
