<div class="left_menu">
	<%= render 'left_menu', :dresses => @dresses %>
</div>
<div style="width:750px; float:left; margin-left:20px;">
	<h1>Personalización</h1>
	<p> Completa tus preferencias y medidas para que podamos enviarte los productos y promociones que más te interesan y ¡mejor te quedarán!</p>
	<p>Nunca compartiremos esta información. Solo la usaremos para enviarte correos personalizados y mejorar tu experiencia en la página, sugieriendo los productos que mejor te podrían quedar y más te van a gustar.</p>
	<div style="border-top:1px dotted #ccc; margin:15px 0px 15px 0px">
		<div style="float:left;">
			<h2>Tus Medidas 
				<%= (@cloth_measure.nil?) ? link_to('(editar)', new_cloth_measure_path(:u => 'ok'), class: 'no_underline') : link_to('(editar)', edit_cloth_measure_path(@cloth_measure), class: 'no_underline') %>
			</h2>
			<%= render 'show_cloth_measure' %>
		</div>
		<div style="float:right; margin-left:20px; max-width:450px;">
			<h2>Tus Estilos <%= link_to '(editar)', user_profile_edit_tags_path, class: 'no_underline' %></h2>
			<%= render 'show_tags' %>
		</div>
	</div>
</div>
