<div id="campaign_logo">
	<%= image_tag("campaign/after_contest/sello.png") %> <!-- <img src="campaign/after_contest/sello.png"  /> -->

</div>

<div id="campaign_menu">
	<%= link_to image_tag("campaign/after_contest/btn1.png"), campaign_wedding_of_the_year_path %> 
	<%= link_to image_tag("campaign/after_contest/btn2_2.png"), campaign_d_day_path %> 
	<%= link_to image_tag("campaign/after_contest/btn3.png"), campaign_gallery_path %> 
	<%= link_to image_tag("campaign/after_contest/btn4.png"), campaign_suppliers_path %> 
</div>

<div id="contenido_d_day">

		  <div class="foto1_d_day">
    	<%= image_tag("campaign/after_contest/1.jpg") %>
    </div>
		<div class="h1_d_day">
        	Ni tanto calor ni tanto frío... banderitas de colores por todos lados, un ambiente cercano y familiar, no más de 200 personas…
  	    </div>
  
    
    	<div class="h2_d_day">
			De blanco la novia y de corbatín el novio… música de los Beatles de fondo…sin mucho protocolo él y ella mezclados entre los invitados 					con un botella de Corona en mano…  	    
        </div>
    <div class="foto2_d_day">
    	<%= image_tag("campaign/after_contest/2.jpg") %>
    </div>
    
   <div class="h3_d_day">
			El vestido que sin mucho remordimiento paseaba por el suelo, mientras que la novia mostraba un relajo simplemente envidiable… los dos que junto formaban una perfecta pareja Vintage- Chic, aquellas que sólo vemos en Pinterest…        
            </div>
    <div class="foto3_d_day">
    	<%= image_tag("campaign/after_contest/3.jpg") %>
    </div>
    
    <div class="h4_d_day">
			Con un Salud inicial dan las gracias a los invitados y <b>¡que comience la fiesta! </b>
    </div>
    <div class="foto4_d_day">
    	<%= image_tag("campaign/after_contest/4.jpg") %>
    </div>

 </div> 