<div class="title_ending">
	¡Si te perdiste la Gran Final, puedes revivirla con las mejores fotos y videos!
</div>
<br />
<div class="gallery_ending">
	Galería de Fotos
</div>
<br /><br />

<div>                                             
	<%= link_to image_tag('campaign/ending/01.jpg'), '/assets/campaign/ending/1.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/02.jpg'), '/assets/campaign/ending/2.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/03.jpg'), '/assets/campaign/ending/3.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/04.jpg'), '/assets/campaign/ending/4.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/05.jpg'), '/assets/campaign/ending/5.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/06.jpg'), '/assets/campaign/ending/6.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/07.jpg'), '/assets/campaign/ending/7.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/08.jpg'), '/assets/campaign/ending/8.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/09.jpg'), '/assets/campaign/ending/9.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/010.jpg'), '/assets/campaign/ending/10.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/011.jpg'), '/assets/campaign/ending/11.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/012.jpg'), '/assets/campaign/ending/12.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/013.jpg'), '/assets/campaign/ending/13.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/014.jpg'), '/assets/campaign/ending/14.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
	<%= link_to image_tag('campaign/ending/015.jpg'), '/assets/campaign/ending/15.JPG', :class => [:fancybox, :image_button], :rel => :gallery %>
</div>
<br /><br />

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/teletrece.png', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<iframe src="http://player.vimeo.com/video/45407219" width="500" height="370" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		<br /><br />
		<p><%= link_to 'Revisa el reportaje completo', 'http://www.13.cl/t13/sociedad/concurso-busca-la-mejor-forma-de-pedir-matrimonio', target: '_blank' %></p>
	</div>
	<div class="clear"></div>
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/chv.png', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<iframe src="http://player.vimeo.com/video/45484327" width="500" height="370" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	<div class="clear"></div>
</div>
