<div id="campaign_logo">
	<%= image_tag("campaign/after_contest/sello.png") %>
</div>

<div id="campaign_menu">
	<%= link_to image_tag("campaign/after_contest/btn1.png"), campaign_wedding_of_the_year_path %> 
	<%= link_to image_tag("campaign/after_contest/btn2.png"), campaign_d_day_path %> 
	<%= link_to image_tag("campaign/after_contest/btn3_2.png"), campaign_gallery_path %> 
	<%= link_to image_tag("campaign/after_contest/btn4.png"), campaign_suppliers_path %> 
</div>
<div id="sliderFrame">
	<div id="ribbon"></div>
	<div id="slider">
		<%= image_tag("campaign/after_contest/foto-(1).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(2).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(3).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(4).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(5).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(6).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(7).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(8).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(9).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(10).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(11).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(12).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(13).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(14).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(15).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(16).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(17).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(18).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(19).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(20).jpg") %> 
		<%= image_tag("campaign/after_contest/foto-(21).jpg") %> 
	</div>
</div>
