<div id="campaign_logo">
	<%= image_tag("campaign/after_contest/sello.png") %> <!-- <img src="campaign/after_contest/sello.png"  /> -->
</div>

<div id="campaign_menu">
	<%= link_to image_tag("campaign/after_contest/btn1_2.png"), campaign_wedding_of_the_year_path %> 
	<%= link_to image_tag("campaign/after_contest/btn2.png"), campaign_d_day_path %> 
	<%= link_to image_tag("campaign/after_contest/btn3.png"), campaign_gallery_path %> 
	<%= link_to image_tag("campaign/after_contest/btn4.png"), campaign_suppliers_path %> 
</div>

<div id="contenido_wedding_of_the_year">
	<div id="video_wedding">
		<iframe src="http://player.vimeo.com/video/55308551?badge=0" width="500" height="333" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/55308551">Mejor propuesta</a> from <a href="http://vimeo.com/user15109978">Matriclick novios</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
	</div>
	<div class="texto1_wedding_of_the_year">
		<div class="h1_wedding_of_the_year">
			La pareja destacó por su <b>originalidad</b>, una puesta en escena <b>innovadora</b> y por dejarlo todo en el escenario al momento de presentarse
		</div>
	</div>
	<div class="texto2_wedding_of_the_year">
		<%= image_tag("campaign/after_contest/nombres.png") %>
	</div>
	<div class="texto3_wedding_of_the_year">
		<div class="h2_wedding_of_the_year">
			" Empecé a recibir varios raros acertijos que al descifrar solo develaban pistas para otro más. Luego de 3 meses y de quemar tinta invisible dentro de un poema; ingresar combinaciones a un ".exe"; buscar monedas de oro; y diversos anagramas, una noche (4am) suena el teléfono -alo y cortan- ahí veo una huella hacia una carta con instrucciones para ir a la plaza y hacer contraseña con luz de linterna hacia el norte. Me contestan. Al final veo un enmascarado y un gran "Will You?" escrito con glowsticks en el pasto. Me dijo: es momento de revelar mi cara y resolver el último acertijo. En mis manos tenía un Criptex (y yo semidormida). Acerté la clave! (ver foto), cayó un anillo, mi novio se agachó a recogerlo, tomó mi mano y me preguntó si quería casarme. De fondo un loop infinito de Hoppipolla.
		</div>
	</div>
</div>

