<div class="main_menu">
	<div id="myslidemenu" class="jqueryslidemenu">
		<ul>
			<li><%= link_to 'Vestidos', dresses_ver_path(:type => "vestidos-fiesta") %></li>
			<li><%= link_to 'Ropa de Mujer', dresses_ver_path(:type => "ropa-de-mujer") %>
				<ul>
					<li><%= link_to 'Blusas y Poleras', dresses_ver_path(:type => "ropa-de-mujer-tops") %></li>
					<li><%= link_to 'Chalecos y Polerones', dresses_ver_path(:type => "ropa-de-mujer-abrigados") %></li>
					<li><%= link_to 'Chaquetas', dresses_ver_path(:type => "ropa-de-mujer-chaquetas") %></li>
					<li><%= link_to 'Pantalones y Leggins', dresses_ver_path(:type => "ropa-de-mujer-pantalones") %></li>
					<li><%= link_to 'Polleras', dresses_ver_path(:type => "ropa-de-mujer-polleras") %></li>
				</ul>
			</li>
			<li><%= link_to 'Zapatos y Botas', dresses_ver_path(:type => "zapatos") %></li>
			<li><%= link_to 'Ropa Interior', dresses_ver_path(:type => "ajuar") %></li>
			<li><%= link_to 'Blog', blog_el_bazar_path %></li>
		</ul>
		<br style="clear:left" />
	</div>
</div>