<% if has_more_than_one?(object) %>
		<% @has_navigation_arrows = true %>
		<%= content_for :left_arrow do %>
			<div id="left_arrow" class="navigation_arrow">
			<!-- need to control if this is the only object of the class and the supplier don't have another class-->
				<%= link_to_previous('', object, "arrow") %>
				<div class="grid" style="display:none;">
					<%= link_to image_tag('grid.png'), "#more_from_this_supplier", :class => 'fancybox_message' %>
				</div>
			</div>
		<% end %>
		
		<%= content_for :right_arrow do %>
			<div id="right_arrow" class="navigation_arrow">
			<!-- need to control if this is the only object of the class and the supplier don't have another class-->
				<%= link_to_next("", object, "arrow") %>
				<div class="explanation" style="display:none;">
					<div class="text">Más de este proveedor</div>
				</div>
				<div class="grid" style="display:none;">
					<%= link_to image_tag('grid.png'), "#more_from_this_supplier", :class => 'fancybox_message' %>
				</div>
			</div>
		<% end %>		
<% end %>
