<% if params[:yield_fancybox] %>
	<%= yield %>
<% else %>
	<% title("Matriclick", false) %>
	<%= render "layouts/user_bar" %>
	<div class="clear"></div>
	<div class="center <%= @background ? 'background' : '' %>">
		<% if @home || false %>
			<div style="text-align:center; margin-top:200px; left:30%; position:absolute; z-index:99;">
				<form action="<%= dresses_search_path %>" method="get">
					<%= text_field_tag(:q, @search_term, size: '55x10', id: 'main_search', 
						value: 'Ejemplo: Polera primera capa', rel: 'Ejemplo: Polera primera capa') %>
					<%= submit_tag("Buscar", :name => nil, :class => 'button_filter_black') %>
				</form>
			</div>
			<div class="center" id="home_content">
				<%= yield %>
			</div>
		<% else %>
			<div class="main_content center">
				<%= render "layouts/navigation" %>
				<%= yield %>
			</div>	
		<% end %>
	</div>
	<div class="clear"></div>
	<% if !(@home || false) %>
		<br />
	<% end %>
	<%= render "layouts/footer" %>
<% end %>
