<div style="width:300px; margin:10px;">
	<div style="margin:20px 0px 20px 0px">
		<%- if devise_mapping.omniauthable? %>
			<%- devise_mapping.to.omniauth_providers.each do |provider| %>
			<div style="float:left; margin-left:20px">
				<%= link_to image_tag('sign_in/sign_in_'+provider.to_s+'.png'), omniauth_authorize_path(resource_name, provider), :class => [provider.to_s.titleize, 'image_button'] %>
			</div>
			<% end -%>
		<% end -%>
	</div>
	<div class="clear"></div>
	<div style="margin:20px 0px 20px 20px">
		Entrar con tu usuario y clave Matriclick:<br /><br />
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			Correo <%= f.email_field :email, :placeholder => t('email'), size: '20', :class => "user_bar_form" %><br /><br />
			Clave <%= f.password_field :password, :placeholder => t('password'), size: '20', :class => "user_bar_form" %><br /><br />
			<%= f.submit 'Ingresar', :class => "sign_in_tab_button" %>			
		<% end %>
		<br />
		<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
			<%= link_to t('devise.views.shared._links.new_password'), new_password_path(resource_name), :style => "color:white;" %>
		<% end -%>
		
	</div>
</div>